@import "tailwindcss";

@theme {
  /* Cores customizadas para o seu projeto */
  --color-brand-navy: #082f49;
  --color-brand-gold: #fbbf24;
  
  /* Fontes */
  --font-poppins: "Poppins", sans-serif;
}

/* Ajustes Globais */
@layer base {
  body {
    @apply antialiased bg-slate-50 text-slate-900;
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
  }

  /* Deixar a scrollbar da lista mais elegante */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full;
  }
}